body {
	background: url('../images/bg.jpg');
}
.my-header {
	height: 400px;
	
}


.my-cv {
	padding-top: 70px !important;
}


.container {
	margin-top: -200px;
	clear: both;
}

h2 {
	font-size: 18px !important;
}

p {
	font-size: 16px;
	line-height: 1.5em;
}

.header {
	font-size: 17px;
}

.content {
	font-size: 18px;
}